@keyframes sketlon{
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes sketlon{
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.anim-container{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 100%;
	width: 100%;
	padding: 50px 0;
	justify-content: center;
	align-content:center;
	z-index: 2;
	background: rgba(0, 0, 0, .1);
	animation: sketlon 1s infinite ease-in;

}
