/* Animations */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fromRight {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fromRight {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes btnBeforeLoading {
  0% {
    left: 0;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes btnBeforeLoading {
  0% {
    left: 0;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 0;
  }
}
@keyframes sketlon {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sketlon {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-1 .paragraph, .card-6 .paragraph {
  position: relative;
  display: block;
  font-size: 16px;
  letter-spacing: 0.3px;
  word-spacing: 2px;
  line-height: 20px;
  color: black;
  font-weight: normal;
}

.section-1 .part-1 .title, .section-1 .title, .sec-title {
  position: relative;
  display: block;
  font-size: 40px;
  font-weight: bold;
}
.section-1 .cr.title, .cr.sec-title {
  text-align: center;
}

.section-1 .part-1 .image img, .card-2 .image img, .card-user .image img, .card-5 .image img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body, html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

hr {
  position: relative;
  display: block;
  border: 0;
  height: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.horizontal-scroller {
  display: flex;
  box-sizing: border-box;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 100%;
}
.horizontal-scroller > * {
  flex: 0 0 auto;
}

.card-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}
.card-5 > * {
  text-align: center;
}
.card-5 small {
  margin: 0 0 20px 0;
  font-size: 16px;
}
.card-5 .image {
  position: relative;
  width: 800px;
  overflow: hidden;
}
.card-5 .image.md {
  width: 400px;
}
.card-5 .image.max {
  width: 100%;
}
.logo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.logo img {
  position: relative;
  display: block;
  height: 50px;
  width: auto;
}

.sec-title {
  text-align: center;
}

.to-bottom {
  position: absolute;
  bottom: 10px;
}

.btn-outline-primary {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  color: #066AFF;
  background: rgba(6, 106, 255, 0.1);
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.btn-outline-primary:active, .btn-outline-primary:visited {
  color: #066AFF;
}
.btn-outline-primary:active {
  transform: scale(0.95);
}
.btn-outline-primary i {
  position: relative;
  margin-right: 10px;
}
.btn-outline-primary i.right {
  position: relative;
  margin-right: 0;
  margin-left: 10px;
}
.btn-outline-primary.icon-only i {
  margin-right: 0;
}
.btn-outline-primary.right-mr {
  margin-right: 10px;
}
.btn-outline-primary.left-mr {
  margin-left: 10px;
}
.btn-outline-primary.hg {
  padding: 12px 15px;
  font-size: 16px;
}
.btn-outline-primary.hg.icon-only {
  padding: 13px 15px;
}

.parser {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  font-weight: bold;
  color: grey;
}
.parser span {
  position: relative;
  display: block;
  padding: 0 5px;
  background: white;
  z-index: 2;
}
.parser:before, .parser:after {
  position: relative;
  display: block;
  content: " ";
  background: rgba(0, 0, 0, 0.1);
  height: 2px;
  width: calc(50% - 20px);
}
.parser.hg:before, .parser.hg:after {
  width: calc(50% - 80px);
}

.btn-flat {
  width: 100%;
}

.btn-light {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: #066AFF;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.btn-light:active, .btn-light:visited {
  color: #066AFF;
}
.btn-light:active {
  transform: scale(0.95);
}
.btn-light i {
  position: relative;
  margin-right: 10px;
}
.btn-light i.right {
  position: relative;
  margin-right: 0;
  margin-left: 10px;
}
.btn-light.icon-only i {
  margin-right: 0;
}
.btn-light.right-mr {
  margin-right: 10px;
}
.btn-light.left-mr {
  margin-left: 10px;
}
.btn-light.hg {
  padding: 12px 15px;
  font-size: 16px;
}
.btn-light.hg.icon-only {
  padding: 13px 15px;
}

.btn-primary {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: #066AFF;
  color: white;
  background: #066AFF;
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.btn-primary:active, .btn-primary:visited {
  color: white;
}
.btn-primary:active {
  transform: scale(0.95);
}
.btn-primary i {
  position: relative;
  margin-right: 10px;
}
.btn-primary i.right {
  position: relative;
  margin-right: 0;
  margin-left: 10px;
}
.btn-primary.icon-only i {
  margin-right: 0;
}
.btn-primary.right-mr {
  margin-right: 10px;
}
.btn-primary.left-mr {
  margin-left: 10px;
}
.btn-primary.hg {
  padding: 12px 15px;
  font-size: 16px;
}
.btn-primary.hg.icon-only {
  padding: 13px 15px;
}
.btn-primary:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.2s width;
  z-index: 2;
}
.btn-primary:hover:before {
  width: 100%;
}
.btn-primary.hide {
  display: none;
}
.btn-primary.loading:before {
  width: 30%;
  background: rgba(255, 255, 255, 0.1);
  animation: btnBeforeLoading 2s infinite;
}
.btn-primary.loading:hover:before {
  width: 30%;
}

.btn-danger {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  border-color: #ff4136;
  color: white;
  background: #ff4136;
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.btn-danger:active, .btn-danger:visited {
  color: white;
}
.btn-danger:active {
  transform: scale(0.95);
}
.btn-danger i {
  position: relative;
  margin-right: 10px;
}
.btn-danger i.right {
  position: relative;
  margin-right: 0;
  margin-left: 10px;
}
.btn-danger.icon-only i {
  margin-right: 0;
}
.btn-danger.right-mr {
  margin-right: 10px;
}
.btn-danger.left-mr {
  margin-left: 10px;
}
.btn-danger.hg {
  padding: 12px 15px;
  font-size: 16px;
}
.btn-danger.hg.icon-only {
  padding: 13px 15px;
}
.btn-danger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.2s width;
  z-index: 2;
}
.btn-danger:hover:before {
  width: 100%;
}
.btn-danger.hide {
  display: none;
}
.btn-danger.loading:before {
  width: 30%;
  background: rgba(255, 255, 255, 0.1);
  animation: btnBeforeLoading 2s infinite;
}
.btn-danger.loading:hover:before {
  width: 30%;
}

.btn-full {
  display: block;
  width: 100%;
  text-align: center;
}

.container-info {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #066AFF;
  background: white;
}
.container-info.active {
  border-color: #066AFF;
  background: #e7f0ff;
}
.container-info > * {
  line-height: 16px;
  display: block;
}
.container-info .notes {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid whitesmoke;
  font-weight: normal;
}
.container-info.notify {
  position: fixed;
  background: #066AFF;
  color: white;
  top: 10px;
  width: 400px;
  left: calc(50% - 200px);
  animation: fadeInDown 0.2s;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.09);
  z-index: 100;
  font-weight: bold;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  animation: fadeInUp 0.2s;
  --content-width: 600px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 20px;
}
.search h1 {
  position: relative;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0 40px 0;
}
.search .btn-close {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  color: #066AFF;
  background: rgba(6, 106, 255, 0.1);
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: absolute;
  font-size: 26px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 0;
  right: 25px;
  top: 25px;
  z-index: 2;
  cursor: pointer;
}
.search .btn-close:active, .search .btn-close:visited {
  color: #066AFF;
}
.search .btn-close:active {
  transform: scale(0.95);
}
.search .btn-close i {
  position: relative;
  margin-right: 10px;
}
.search .btn-close i.right {
  position: relative;
  margin-right: 0;
  margin-left: 10px;
}
.search .btn-close.icon-only i {
  margin-right: 0;
}
.search .btn-close.right-mr {
  margin-right: 10px;
}
.search .btn-close.left-mr {
  margin-left: 10px;
}
.search .btn-close.hg {
  padding: 12px 15px;
  font-size: 16px;
}
.search .btn-close.hg.icon-only {
  padding: 13px 15px;
}
.search .form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  width: var(--content-width);
  height: auto;
}
.search .form ::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}
.search .form :-ms-input-placeholder {
  /* Internet Explorer */
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}
.search .form ::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}
.search .form input {
  position: relative;
  box-sizing: border-box;
  background: white;
  width: 100%;
  padding: 15px 50px 15px 15px;
  font-size: 18px;
  outline: 0;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  transition: 0.2s border;
  -webkit-box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
  -moz-box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
  box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
}
.search .form input:focus {
  border-color: #066AFF;
}
.search .form .btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  width: 45px;
  height: 45px;
  margin: 0 5px;
  padding: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}
.search .form .btn:active, .search .form .btn:visited {
  color: rgba(0, 0, 0, 0.4);
}
.search .form .btn:active {
  transform: scale(0.95);
}
.search .form .btn i {
  position: relative;
  margin-right: 10px;
}
.search .form .btn i.right {
  position: relative;
  margin-right: 0;
  margin-left: 10px;
}
.search .form .btn.icon-only i {
  margin-right: 0;
}
.search .form .btn.right-mr {
  margin-right: 10px;
}
.search .form .btn.left-mr {
  margin-left: 10px;
}
.search .form .btn.hg {
  padding: 12px 15px;
  font-size: 16px;
}
.search .form .btn.hg.icon-only {
  padding: 13px 15px;
}
.search .form .btn.active {
  background: rgba(6, 106, 255, 0.1);
  color: #066AFF;
}
.search .form .btn:active {
  -webkit-box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
  -moz-box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
  box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
}
.search .form .btn:nth-child(1) {
  left: 0;
}
.search .options {
  position: relative;
  max-height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: var(--content-width);
  background: white;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
  -moz-box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
  box-shadow: 0px 0px 17px -3px rgba(117, 117, 117, 0.14);
  z-index: 5;
}
.search .options.hide {
  display: none;
}
.search .options a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  border-bottom: 1px solid whitesmoke;
  justify-content: flex-start;
  width: 100%;
}
.search .options a:last-child {
  border: 0;
}
.search .options a:hover {
  background: #f9f9f9;
}
.search .options a:active {
  background: whitesmoke;
}

.card-user {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-start;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  margin: 5px 0 5px 0;
}
.card-user .image {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 100px;
  overflow: hidden;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
}
.card-user .details {
  position: relative;
  display: block;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  max-width: 100px;
  overflow: hidden;
}
.card-user .details > * {
  display: block;
}
.card-user .details small {
  font-weight: bold;
  padding: 0 0 2.5px 0;
  font-size: 12px;
  color: grey;
}
.card-user .details .name {
  text-decoration: none;
  margin: 0 0 2.5px 0;
  font-size: 14px;
  text-transform: capitalize;
}
.card-user.hg {
  justify-content: center;
  max-width: 400px;
  margin: 20px 0;
}
.card-user.hg .image {
  width: 100px;
  height: 100px;
}
.card-user.hg .details {
  padding-left: 20px;
  max-width: calc(100% - 100px);
}
.card-user.hg .name {
  margin: 0 0 10px 0;
}
.card-user.hg small {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.card-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  background: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card-2 .image {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  border: 5px solid white;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 36px -23px #575757;
  -moz-box-shadow: 0px 0px 36px -23px #575757;
  box-shadow: 0px 0px 36px -23px #575757;
}
.card-2 .details {
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  width: auto;
  padding: 0 0 0 10px;
}
.card-2 .details > * {
  display: block;
}
.card-2 .details small {
  font-weight: normal;
  padding: 0 0 2.5px 0;
  font-size: 12px;
  color: grey;
  word-break: break-all;
}
.card-2 .details .name {
  margin: 0 0 2.5px 0;
}

.card-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: 200px;
  height: auto;
  padding: 0 10px;
  margin: 10px 0;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.card-6:last-child {
  border-right: 0;
}
.card-6 .title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #066AFF;
}
.card-6 .paragraph {
  font-size: 12px;
  line-height: normal;
}

.bold {
  font-weight: bold;
}

.nav-tabs-1 {
  position: relative;
  display: block;
}
.nav-tabs-1 .links {
  margin-bottom: 10px;
  border-bottom: 2px solid whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.nav-tabs-1 .links .btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-width: 2px;
  border-radius: 5px 5px 0 0;
  border-style: solid;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  margin: 0 -5px -2px 0;
  border-width: 2px;
  border-bottom-color: #066AFF;
  color: #066AFF;
}
.nav-tabs-1 .links .btn:active {
  transform: scale(0.95);
}
.nav-tabs-1 .links .btn i {
  position: relative;
  margin-right: 10px;
}
.nav-tabs-1 .links .btn i.right {
  position: relative;
  margin-right: 0;
  margin-left: 10px;
}
.nav-tabs-1 .links .btn.icon-only i {
  margin-right: 0;
}
.nav-tabs-1 .links .btn.right-mr {
  margin-right: 10px;
}
.nav-tabs-1 .links .btn.left-mr {
  margin-left: 10px;
}
.nav-tabs-1 .links .btn.hg {
  padding: 12px 15px;
  font-size: 16px;
}
.nav-tabs-1 .links .btn.hg.icon-only {
  padding: 13px 15px;
}
.nav-tabs-1 .links .btn.active {
  background: #e7f0ff;
}

.form-1 {
  position: relative;
  width: 400px;
  max-width: 100%;
}
.form-1 .field {
  margin: 10px 0;
}
.form-1 .field:first-child {
  margin-top: 25px;
}
.form-1 .field.last {
  margin-bottom: 25px;
}
.form-1 .field .error {
  padding: 5px 0 0 0;
  margin: 0;
  color: #d93025;
}
.form-1 .field a, .form-1 .field .info {
  position: relative;
  display: block;
  text-align: right;
  padding: 5px 0 0 0;
  font-size: 14px;
  color: #066AFF;
  text-decoration: none;
}
.form-1 .field a:hover:not(.info), .form-1 .field .info:hover:not(.info) {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: block;
  width: auto;
  overflow: visible;
  z-index: 2;
}
.dropdown .options {
  position: absolute;
  width: max-content;
  background: white;
  border-radius: 5px;
  animation: fadeInUp 0.2s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09), 0 3px 8px rgba(0, 0, 0, 0.09), 0 4px 13px rgba(0, 0, 0, 0.13);
  right: 0;
  top: calc(100% + 10px);
  padding: 10px 0;
}
.dropdown .options a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: black;
  border-bottom: 1px solid whitesmoke;
  justify-content: flex-start;
  width: 100%;
}
.dropdown .options a i {
  margin-right: 20px;
  color: grey;
}
.dropdown .options a:last-child {
  border: 0;
}
.dropdown .options a:hover {
  background: #f9f9f9;
}
.dropdown .options a:active, .dropdown .options a.active {
  background: whitesmoke;
}
.dropdown .options.horz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.dropdown .options.vert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.dropdown .options .title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
}
.dropdown .options:before {
  content: " ";
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: transparent;
}
.dropdown:not(:hover) .options {
  display: none;
}

@media (max-width: 768px) {
  .sec-title {
    font-size: 30px !important;
  }
}
.App {
  position: relative;
  display: block;
  height: auto;
  overflow: hidden;
}

.section-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  --part-1-width: 600px;
}
.section-1 .title {
  font-size: 35px;
  text-align: center;
}
.section-1 .part-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  width: var(--part-1-width);
  box-sizing: border-box;
  height: 100vh;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  overflow: hidden;
  animation: fadeInDown 0.5s;
}
.section-1 .part-1 .title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-1 .part-1 .image {
  position: relative;
  width: 500px;
  height: auto;
}
.section-1 .part-1 .map {
  position: relative;
  height: 100%;
  width: 100%;
}
.section-1 .paragraph {
  width: 100%;
}
.section-1 .paragraph.cr {
  text-align: center;
}
.section-1 .part-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc( 100% - var(--part-1-width));
  padding: 50px 10px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  animation: fadeInUp 0.5s;
}

@media (max-width: 1280px) {
  .section-1 {
    --part-1-width: 350px;
  }
  .section-1 .part-1 .title {
    font-size: 30px;
  }
  .section-1 .part-1 .image {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .section-1 .part-2 {
    width: 100%;
  }
  .section-1 .part-2 .title {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .section-1 .part-2 .title {
    font-size: 25px;
  }
}

/*# sourceMappingURL=App.css.map */
